<mat-grid-list cols="3" gutterSize="25px" rowHeight="100%">
    <mat-grid-tile colspan="2">
        <mat-grid-tile-header>
            <h3>Lista utenti</h3>
        </mat-grid-tile-header>
            <app-users-list (userSelected)="setUserSelected($event)"></app-users-list>
        <mat-grid-tile-footer>
            action footer
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>
            <h3>Aggiungi/modifica utenti</h3>
        </mat-grid-tile-header>
        <div *ngIf="userSelected">
            <app-users-detail [userSelected]="userSelected"></app-users-detail>
        </div>
        <mat-grid-tile-footer>
            action footer
        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>