<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    
    <mat-form-field>
        <mat-label>uID</mat-label>
        <input matInput type="text" placeholder="uID" formControlName="uid">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" placeholder="Nome" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Cognome</mat-label>
        <input matInput type="text" placeholder="Cognome" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email">
    </mat-form-field>

    <button type="submit" class="btn btn-primary" >Salva</button>
</form>