<mat-card>
    <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <mat-card-title>Lista <strong>Portfolio</strong></mat-card-title>
        </div>
        <div>
            <button mat-icon-button color="primary" aria-label="Add new" [routerLink]="['./detail/0']"
                routerLinkActive="router-link-active">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <table #portfolioTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Titolo </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
        </table>
    </mat-card-content>
</mat-card>