<div class="parent-container overflow-hidden">
  <div #page *ngFor="let page of portfoliosList; let i=index" [class]="'vh-100 p-3 position-relative bg-' + (i + 1)">
    <h3 class="text-white">Page {{i}}</h3>
    <div class="page-content">
      <h3 [innerHTML]="page?.title" *ngIf="page?.title"></h3>
      <p [innerHTML]="page?.description" *ngIf="page?.description"></p>
    </div>
  </div>

  <div class="nav">
    <button #prev class="btn btn-sm btn-light me-1" (click)="clickPrev()">prev</button>
    <button #next class="btn btn-sm btn-light" (click)="clickNext()">next</button>
  </div>
</div>